<header class="uc-header">
    <div id="uc-global-topbar"></div>
    <nav class="uc-navbar">
      <!-- Menú para versión Escritorio -->
      <div class="container d-none d-lg-block">
        <div class="row d-flex align-items-center">
          <div class="col-lg-3 col-xl-2">
            <img
              src="https://kit-digital-uc-prod.s3.amazonaws.com/assets/logo-uc-azul.svg"
              alt="Pontificia Universidad Católica de Chile"
              class="img-fluid"
            />
          </div>
          <div class="col-lg-4 col-xl-6 pl-60">
            <div class="h2 text-font--serif text-color--blue mt-24" style="color: #173f8a;">Repositorio UC</div>
          </div>
          <div class="col-lg-4 inisesi mt-2 pointer"><div _ngcontent-tlb-c2="" class="d-flex justify-content-start justify-content-lg-end"><span _ngcontent-tlb-c2="" class="material-icons mr-1">perm_identity</span> Dariana Gómez Reyes </div><a _ngcontent-tlb-c2="" class="cerrar-ses d-flex justify-content-start justify-content-lg-end" title="Salir" type="button">Cerrar Sesión</a></div>
        </div>
        <div class="row">
            <ul class="uc-navbar_nav col-lg-10">
                <li class="nav-item">
                  <a href="#" class="uc-btn btn-inline">Inicio</a>
                </li>
                <li class="nav-item">
                  <a href="#" class="uc-btn btn-inline">Buscar</a>
                </li>
                <li class="nav-item">
                  <a href="#" class="uc-btn btn-inline">Registrar</a>
                </li>
                <li class="nav-item">
                  <a href="#" class="uc-btn btn-inline">Acerca de Datos de Investigación</a>
                </li>
              </ul>
              <nav class="col-lg-2 d-flex justify-content-lg-end">
                  <a _ngcontent-yig-c2="" aria-label="Ir a bùsqueda simple"
                      class="uc-icon border-radius-50 bg-gris_C" title="Ir a bùsqueda simple" href="/busqueda">
                      <i _ngcontent-yig-c2="" class="uc-icon" style="font-size:33px">search</i>
                  </a>
              </nav>         
        </div>
       

      </div>
      <!-- Menú para versión Móvil -->
      <div class="uc-navbar_mobile d-block d-lg-none">
        <div class="uc-navbar_mobile-bar navbar-brand">
          <div class="uc-navbar_mobile-logo navbar-light">
            <div class="h2 text-font--serif text-color--blue">Título</div>
          </div>
          <a
            href="javascript:void(0);"
            class="uc-navbar_mobile-button"
            data-collapse="collapseMobileNav3"
          >
            <span class="uc-icon"></span>
            Menú
          </a>
        </div>
        <div
          class="uc-navbar_mobile-content"
          data-toggle="collapseMobileNav3"
          data-open="false"
          style="height: 0"
        >
          <div class="uc-navbar_mobile-list">
            <a href="#" class="list-item">Item 1</a>
            <a href="#" class="list-item">Item 2</a>
            <a href="#" class="list-item">Item 3</a>
            <a href="#" class="list-item">Item 4</a>
          </div>
        </div>
      </div>
    </nav>
</header>
  